outputDir = "test/out"
workDir = 'test/work'
workflow.output.mode = "copy"

report {
    enabled = true
    overwrite = true
    file = "test/out/report.html"
}

trace {
    enabled = true
    overwrite = true
    file = "test/out/trace.tsv"
}

timeline {
    enabled = true
    overwrite = true
    file = "test/out/timeline.html"
}

dag {
    enabled = true
    overwrite = true
    file = "test/out/dag.html"
}

params {
    samples = "test/samples.csv"

    downsample {
        enabled = true
        sample_size = 5000
        seed = 42
    }

    merge {
        enabled = true
        pear_args = ""
    }

    trim {
        enabled = true
        cutadapt_args = "-a GAAAGGACGAAACACC -g GTTTGGATCCAATTCT --action retain"
    }

    quantify {
        enabled = true
        libspec = "test/pegrna.json"
        library = ["test/pegrna.tsv"]
        dnacomb_args = "--sort --mode pattern --distance-metric bounded-levenshtein"
    }

    qc {
        seqkit = true
    }
}
