outputDir = "data"
workflow.output.mode = "copy"

report {
    enabled = true
    overwrite = true
    file = "data/report.html"
}

trace {
    enabled = true
    overwrite = true
    file = "data/trace.tsv"
}

timeline {
    enabled = true
    overwrite = true
    file = "data/timeline.html"
}

dag {
    enabled = true
    overwrite = true
    file = "data/dag.html"
}

params {
    samples = "examples/samples.csv"

    downsample {
        enabled = true
        sample_size = 10000
        seed = 42
    }

    merge {
        enabled = true
        pear_args = ""
    }

    trim {
        enabled = true
        cutadapt_args = "-a GTTTGGATCCAATTCTACCG -g TGTGGAAAGGACGAAACACC --action retain"
    }

    quantify {
        enabled = true
        libspec = "examples/library.json"
        library = ["examples/regions.tsv"]
        dnacomb_args = "--sort --mode align --distance-metric bounded-levenshtein --max-matches 4 --mean-quality-threshold 30 --alignment-tolerance 0.8"
    }

    qc {
        seqkit = true
    }
}
